.hover-underline-gradient {
  z-index: 1;
  position: relative;
}

.hover-underline-gradient::after {
  content: '';
  display: block;
  width: 0;
  height: 80%;
  background-image: linear-gradient(to right, theme('colors.gradientL'), theme('colors.gradientR'));
  border-radius: 10px;
  transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  bottom: -10px;
  left: 5%;
  z-index: -1;
}

.hover-underline-gradient:hover::after {
  width: 90%;
}
